
.main{
  position: relative; cursor: pointer;
}
.depth{
  background-color: #E0F7FF;
}
.depth-wrap{
  position: absolute; width:100%; height:100vh;
  top:0; right:-100%;
  transition: right 0.3s;
  &.active{
    right:0;
  }
}